[submodule "software/ansible-roles/ceph"]
	path = software/ansible-roles/ceph
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "software/ansible-roles/srl"]
	path = software/ansible-roles/srl
	url = https://github.com/systemslab/srl-roles.git
